        #bo
        {
			
        }

        #myCanvas:
        {

        	border: 1px solid black;
        	background:white;
        }

        #heading
        {

        	text-align: center;
        	font-weight: bold;
        }