        #bo
        {
		margin:0px;
                padding:0px;
                width: 100%;
                height: 100%;	
        }

        #myCanvas:
        {

        	
            background:white;
            position:absolute;
            width:100%;
            height:100%;
        }

        #heading
        {

        	text-align: center;
        	font-weight: bold;
        }

        html
        {

                height: 100%;
        }