        #bo
        {
		margin:0px;
                padding:0px;
                width: 100%;
                height: 100%;	
        }

        #myCanvas:
        {

        	
            background:white;
            position:absolute;
            width:100%;
            height:100%;
        }

        #heading
        {

        	text-align: center;
        	font-weight: bold;
        }

        html
        {

                height: 100%;
        }
        //creating and resizing using canvas
var canvas = document.getElementById('myCanvas');
canvas.width = window.innerWidth;
canvas.height = window.innerHeight;

//function to clear the interval in which frames are running
function clear_image(add2)
{
clearInterval(add2);

}
// function for clearing the canvas
function clearScreen()
{
        c.clearRect(0,0,canvas.width,canvas.height);
}




var c = canvas.getContext('2d');

var delayInMilliseconds = 70;
var k = 1;

var intr = setInterval(function() {
  //your code to be executed after 0.01 second

var add = 'new_frames/'+'('+k+')'+'.svg';
function make_base(address)
{
  base_image = new Image();
  base_image.src = address;
  base_image.onload = function()
  {
    c.drawImage(base_image,0,0,window.innerWidth,window.innerHeight);
  }
}




make_base(add);
//var myname = "BOB";
//var mystring = "Hi there "+myname+"!";

if(k > 85)
{


// stopping the frame at frame numner 267, so that the frame 268 can be used for clicking 
// event
clear_image(intr);
//clearScreen();
make_base('(86).svg');


canvas.addEventListener('mousedown',coords,{once:false});
function coords()
{
    cx = event.offsetX;
    cy = event.offsetY; // or event.pageY

    //alert('x,y = '+ cx + ','+ cy);

    var cx_arr = [];
    var cy_arr = [];
    for(var i=737;i<=760;i++)
        {
        cx_arr.push(i);
        }

        for(i=96;i<=226;i++)
        {

        cy_arr.push(i);
        }

        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        

        if(n&&z ==true) // new block start
        {
        var h = 86;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>93){

         clear_image(intr2);

        }
        else{ h+=1;}

              



        },delayInMilliseconds);
    //canvas.removeEventListener('click', coords);
    canvas.removeEventListener('mousedown', coords); 
        }
     
                
                
canvas.addEventListener('mousedown',coords2,{once:false});
function coords2(event)
        {
    cx = event.offsetX;
    cy = event.offsetY;
    //alert('x,y = '+ cx + ','+ cy);
     

    var cx_arr = [];
    var cy_arr = [];
    for(var i=1013;i<=1035;i++)
        {
        cx_arr.push(i);
        }

        for(i=470;i<=593;i++)
        {

        cy_arr.push(i);
        }

        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        

        if(n&&z ==true) // new block start
        {
        var h = 94;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>98){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);

    canvas.removeEventListener('mousedown', coords2);
        }
canvas.addEventListener('mousedown',coords3,{once:false});
function coords3(event)
{

        cx = event.offsetX;
    cy = event.offsetY;
    //alert('x,y = '+ cx + ','+ cy);

    var cx_arr = [];
    var cy_arr = [];
    for(var i=1013;i<=1035;i++)
        {
        cx_arr.push(i);
        }

        for(i=487;i<=605;i++)
        {

        cy_arr.push(i);
        }

        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        

        if(n&&z ==true) // new block start
        {
        var h = 104;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>112){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);

    canvas.removeEventListener('mousedown', coords3);
        }


canvas.addEventListener('mousedown',coords4,{once:false});
function coords4(event)
{

        cx = event.offsetX;
    cy = event.offsetY;
    //alert('x,y = '+ cx + ','+ cy);

    var cx_arr = [];
    var cy_arr = [];
    for(var i=477;i<=543;i++)
        {
        cx_arr.push(i);
        }

        for(i=520;i<=591;i++)
        {

        cy_arr.push(i);
        }

        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        

        if(n&&z ==true) // new block start
        {
        var h = 113;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>128){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);

    canvas.removeEventListener('mousedown', coords4);
        }

canvas.addEventListener('mousedown',coords5,{once:false});
function coords5(event)
{

        cx = event.offsetX;
    cy = event.offsetY;
    //alert('x,y = '+ cx + ','+ cy);

    var cx_arr = [];
    var cy_arr = [];
    for(var i=848;i<=879;i++)
        {
        cx_arr.push(i);
        }

        for(i=563;i<=626;i++)
        {

        cy_arr.push(i);
        }

        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        

        if(n&&z ==true) // new block start
        {
        var h = 129;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>144){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);

    canvas.removeEventListener('mousedown', coords5);
        }

canvas.addEventListener('mousedown',coords6,{once:true});
/*cx = event.pageX;
cy = event.pageY;
var cx_arr = [];
var cy_arr = [];
for(var i=478;i<=542;i++)
{
cx_arr.push(i);
}
for(i=509;i<=592;i++)
{
cy_arr.push(i);
}
var n = cx_arr.includes(cx);
var z = cy_arr.includes(cy);*/


/*var e = new jQuery.Event("click");
e.pageX = 10;
e.pageY = 10;
$("#elem").trigger(e);*/
function coords6(event)
{

        cx = event.offsetX;
    cy = event.offsetY;
    //alert('x,y = '+ cx + ','+ cy);

    var cx_arr = [];
    var cy_arr = [];
    for(var i=478;i<=542;i++)
        {
        cx_arr.push(i);
        }

        for(i=509;i<=592;i++)
        {

        cy_arr.push(i);
        }

        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        

        if(n&&z ==true) // new block start
        {
        var h = 145;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>150){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);

    canvas.removeEventListener('mousedown', coords6);
        }
canvas.addEventListener('mousedown',coords7,{once:false});
function coords7(event)
{

        cx = event.offsetX;
    cy = event.offsetY;
    //alert('x,y = '+ cx + ','+ cy);

    var cx_arr = [];
    var cy_arr = [];
    for(var i=615;i<=771;i++)
        {
        cx_arr.push(i);
        }

        for(i=442;i<=556;i++)
        {

        cy_arr.push(i);
        }

        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        

        if(n&&z ==true) // new block start
        {
        var h = 150;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>155){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);

   canvas.removeEventListener('mousedown', coords7);
        }

canvas.addEventListener('mousedown',coords8,{once:false});
function coords8(event)
{

        cx = event.offsetX;
    cy = event.offsetY;
    //alert('x,y = '+ cx + ','+ cy);

    var cx_arr = [];
    var cy_arr = [];
    for(var i=347;i<=446;i++)
        {
        cx_arr.push(i);
        }

        for(i=467;i<=506;i++)
        {

        cy_arr.push(i);
        }

        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        

        if(n&&z ==true) // new block start
        {
        var h = 156;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>222){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);

    canvas.removeEventListener('mousedown', coords8);
        }

canvas.addEventListener('mousedown',coords9,{once:false});
function coords9(event)
{

        cx = event.offsetX;
    cy = event.offsetY;
    //alert('x,y = '+ cx + ','+ cy);

    var cx_arr = [];
    var cy_arr = [];
    var cx_alt = [];
    var cy_alt = [];
    for(var i=1007;i<=1072;i++)
        {
        cx_arr.push(i);
        }

        for(i=544;i<=577;i++)
        {

        cy_arr.push(i);
        }
        for(var i=990;i<=1068;i++)
        {
                cx_alt.push(i);
        }
    for(var i=570;i<=591;i++)
    {
        cy_alt.push(i);
    }
        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        var m = cx_alt.includes(cx);
        var g = cy_alt.includes(cy);
        

        if(n&&z ==true ) // new block start
        {
        var h = 223;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>231){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);
    canvas.removeEventListener('mousedown', coords9);
    //only 1st part of testing completed move to the second part.
    canvas.addEventListener('mousedown',coords11,{once:false});
    function coords11(event)
    {

        cx = event.offsetX;
    cy = event.offsetY;
    //alert('x,y = '+ cx + ','+ cy);

    var cx_arr = [];
    var cy_arr = [];
    for(var i=737;i<=760;i++)
        {
        cx_arr.push(i);
        }

        for(i=96;i<=226;i++)
        {

        cy_arr.push(i);
        }

        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        

        if(n&&z ==true) // new block start
        {
        var h = 232;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>240){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);

    canvas.removeEventListener('mousedown', coords11);
        }

        canvas.addEventListener('mousedown',coords12,{once:false});
        function coords12(event)
        {

                cx = event.offsetX;
        cy = event.offsetY;
            //alert('x,y = '+ cx + ','+ cy);
             

            var cx_arr = [];
            var cy_arr = [];
            for(var i=1013;i<=1035;i++)
                {
                cx_arr.push(i);
                }

                for(i=470;i<=593;i++)
                {

                cy_arr.push(i);
                }

                var n = cx_arr.includes(cx);
                var z = cy_arr.includes(cy);
                

                if(n&&z ==true) // new block start
                {
                var h = 241;
                var intr2 = setInterval(function()
                        {

                var add2 = 'new_frames/'+'('+h+')'+'.svg';
                make_base(add2);

                if(h>248){

                 clear_image(intr2);

                }
                else{ h+=1;}

                },delayInMilliseconds);
        canvas.removeEventListener('mousedown', coords12);
            
                }
        
        canvas.addEventListener('mousedown',coords13,{once:false});
        function coords13(event)
        {

                cx = event.offsetX;
        cy = event.offsetY;
            //alert('x,y = '+ cx + ','+ cy);

            var cx_arr = [];
            var cy_arr = [];
            for(var i=1013;i<=1035;i++)
                {
                cx_arr.push(i);
                }

                for(i=487;i<=605;i++)
                {

                cy_arr.push(i);
                }

                var n = cx_arr.includes(cx);
                var z = cy_arr.includes(cy);
                

                if(n&&z ==true) // new block start
                {
                var h = 249;
                var intr2 = setInterval(function()
                        {

                var add2 = 'new_frames/'+'('+h+')'+'.svg';
                make_base(add2);

                if(h>256){

                 clear_image(intr2);

                }
                else{ h+=1;}

                },delayInMilliseconds);

            canvas.removeEventListener('mousedown', coords13);
                }
        

canvas.addEventListener('mousedown',coords14,{once:false});
function coords14(event)
{

        cx = event.offsetX;
    cy = event.offsetY;
    //alert('x,y = '+ cx + ','+ cy);

    var cx_arr = [];
    var cy_arr = [];
    for(var i=851;i<=873;i++)
        {
        cx_arr.push(i);
        }

        for(i=475;i<=581;i++)
        {

        cy_arr.push(i);
        }

        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        

        if(n&&z ==true) // new block start
        {
        var h = 257;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>265){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);

    canvas.removeEventListener('mousedown', coords14);
        }


canvas.addEventListener('mousedown',coords15,{once:false});
function coords15(event)
{

        cx = event.offsetX;
    cy = event.offsetY;
    //alert('x,y = '+ cx + ','+ cy);

    var cx_arr = [];
    var cy_arr = [];
    for(var i=477;i<=541;i++)
        {
        cx_arr.push(i);
        }

        for(i=505;i<=575;i++)
        {

        cy_arr.push(i);
        }

        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        

        if(n&&z ==true) // new block start
        {
        var h = 266;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>276){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);
    canvas.removeEventListener('mousedown', coords15);
    
        }
canvas.addEventListener('mousedown',coords16,{once:false});
function coords16(event)
{

        cx = event.offsetX;
    cy = event.offsetY;
    //alert('x,y = '+ cx + ','+ cy);

    var cx_arr = [];
    var cy_arr = [];
    for(var i=849;i<=879;i++)
        {
        cx_arr.push(i);
        }

        for(i=561;i<=625;i++)
        {

        cy_arr.push(i);
        }

        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        

        if(n&&z ==true) // new block start
        {
        var h = 277;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>292){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);
    canvas.removeEventListener('mousedown', coords16);
    
}

canvas.addEventListener('mousedown',coords17,{once:false});
function coords17(event)
{

        cx = event.offsetX;
    cy = event.offsetY;
    //alert('x,y = '+ cx + ','+ cy);

    var cx_arr = [];
    var cy_arr = [];
    for(var i=412;i<=590;i++)
        {
        cx_arr.push(i);
        }

        for(i=477;i<=539;i++)
        {

        cy_arr.push(i);
        }

        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        

        if(n&&z ==true) // new block start
        {
        var h = 293;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>298){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);
    canvas.removeEventListener('mousedown', coords17);
    
        }
canvas.addEventListener('mousedown',coords18,{once:false});
function coords18(event)
{

        cx = event.pageX;
    cy = event.pageY;
    //alert('x,y = '+ cx + ','+ cy);

    var cx_arr = [];
    var cy_arr = [];
    for(var i=616;i<=773;i++)
        {
        cx_arr.push(i);
        }

        for(i=441;i<=558;i++)
        {

        cy_arr.push(i);
        }

        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        

        if(n&&z ==true) // new block start
        {
        var h = 299;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>303){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);
    canvas.removeEventListener('click', coords18);
    
        }

canvas.addEventListener('mousedown',coords19,{once:false});
function coords19(event)
{

        cx = event.pageX;
    cy = event.pageY;
    alert('x,y = '+ cx + ','+ cy);

    var cx_arr = [];
    var cy_arr = [];
    for(var i=347;i<=447;i++)
        {
        cx_arr.push(i);
        }

        for(i=456;i<=492;i++)
        {

        cy_arr.push(i);
        }

        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        

        if(n&&z ==true) // new block start
        {
        var h = 304;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>371){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);
    canvas.removeEventListener('click', coords19);
    
        }

canvas.addEventListener('mousedown',coords20,{once:false});
function coords20(event)
{

        cx = event.pageX;
    cy = event.pageY;
    alert('x,y = '+ cx + ','+ cy);

    var cx_arr = [];
    var cy_arr = [];
    for(var i=1009;i<=1071;i++)
        {
        cx_arr.push(i);
        }

        for(i=530;i<=562;i++)
        {

        cy_arr.push(i);
        }

        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        

        if(n&&z ==true) // new block start
        {
        var h = 372;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);
    canvas.removeEventListener('click', coords20);
    
        }
}




}



}
}
}
}       
}
}
}

    }

}

        
        else if(m&&g ==true) // new block start
        {
        var h = 522;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>534){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);

    //Ending first testing event completely
    canvas.addEventListener('click',coords10,{once:false});
    function coords10(event)
    {

        cx = event.offsetX;
    cy = event.offsetY;
    //alert('x,y = '+ cx + ','+ cy);

    var cx_arr = [];
    var cy_arr = [];
    for(var i=477;i<=541;i++)
        {
        cx_arr.push(i);
        }

        for(i=505;i<=575;i++)
        {

        cy_arr.push(i);
        }

        var n = cx_arr.includes(cx);
        var z = cy_arr.includes(cy);
        

        if(n&&z ==true) // new block start
        {
        var h = 534;
        var intr2 = setInterval(function()
                {

        var add2 = 'new_frames/'+'('+h+')'+'.svg';
        make_base(add2);

        if(h>546){

         clear_image(intr2);

        }
        else{ h+=1;}

        },delayInMilliseconds);

    canvas.removeEventListener('mousedown', coords10);
        }
    }


        }




}




}

}



}



}



}




}


}

}


}


else{k+=1;}

}, delayInMilliseconds);